body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background: #6495ed;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.weather-wrap {
  width: 1040px;
  max-width: 100%;
  margin: 50px auto;
  text-align: center;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 20px 0;
}

.city {
  font-size: 24px;
}

.weather {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.temperature {
  margin-top: 20px;
  font-size: 20px;
}

.datetime {
  display: block;
  margin-top: 20px;
  color: #bbb;
  font-size: 18px;
}

.weather-select-wrap {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
  width: 50%;
  margin: 40px auto 0;
  &::before {
    position: absolute;
    top: 0.9em;
    right: 1em;
    width: 0;
    height: 0;
    padding: 0;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
    pointer-events: none;
  }
}

.weather-select {
  width: 100%;
  padding: 8px 38px 8px 16px;
  color: #666666;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
